.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.css-1633um2-MuiPaper-root{
width: 200px;
font-weight: 700;
font-size: 17px;
height:"40px" !important;
}

.tabs{
  color: #ffffff;
  background-color: #4e4fa9;
}